/* =================================
  Base Styles
==================================== */

* {
  box-sizing:border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.5;
  color: black;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
    color: black;
}

header {
    text-align: left;
    padding-top: 5em;
    margin-left: 5px;

}

/* =================================
  Base Layout Styles
==================================== */

/* Navigation */

.nav {
  padding-left: 40em;
}

.name {
  padding-bottom:.8em;
}
.main-nav li{
  text-align: right;
  background: grey;
  margin-top: 6px;
  margin-bottom: px;
  padding: 10px 15px;
  display: block;
}

.main-nav a {
  font-size: .95em;
  color: #3acec2;
  text-transform:uppercase;
}

.main-nav a: hover {
  color:#093a58;
}


/*--Layout Containers---*/

.container {
  width: 70%;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}


/* =================================
  Media Queries
==================================== */
@media (min-width:320px) {
.main-nav{
  float: left;
}

}

@media (min-width:768px) {

.main-nav li{
  display:inline;
}

}

@media (min-width:1024px) {

body {
  padding-top: 30px;
}

.name {
  float:left

}

.nav {
  float:right;

}

.nav li{
  float:left;

}

.profile-image {
  float: right;
  margin-top: 5px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding:10px;
}




.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

}
